@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.sketch-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 1600px;
}

.btn-container {
    padding: 32px 32px 0px 32px;
    flex: initial;
    display: flex;
    align-items: start;
}

/* Add button styling here*/
.btn {
    font-size: 18px;
    font-weight: bold;
    width: auto ;
    height: auto;
    padding: 8px;
    border-radius: 4px;
    background-color: #F5F5F5;
    color: #2B2B2B;
    border: none;
    outline: 1px solid #2B2B2B;
    
}



.container {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.square {
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.hover-effect {
    background-color: red;
}